.CarList {
  position: relative;
  width: 300px;
  height: fit-content;
  border-radius: 50px;
  border-color: black;
  background-origin: padding-box;
  display: inline-block;
  margin:auto;
  padding:0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: var(--color-offwhite-search);
  padding: 10px;
  row-gap: 5px;
  border-radius: 5px;
}


  img {
    width: 150px;
    height: auto;
    box-sizing: border-box;
    background-origin: padding-box;
  }

  li {

    width: 400px;
    height: auto;
    border-radius: 10px;
    border-color: aqua;
    background-origin: padding-box;
    background:url("https://img2.freepng.es/20180805/zkj/kisspng-image-fifa-video-portable-network-graphics-gif-pack-para-edici%C3%B3n-triviasfutbol-carta-fifa-cre-5b675ea1361fe4.8945268315335010892217.jpg");

    // background:url("https://media.istockphoto.com/photos/asphalt-road-picture-id904781432?k=6&m=904781432&s=612x612&w=0&h=NhIDUmYE6OYpw-nH-MUU_Axwfr48SEFrmuhX9CaB9nQ=") no-repeat center center / cover;


  }





