.profile {
    &__registerLink > Link {
      color: var(--color-green-button);
      font-size: 30px;
  
      &:active {
        color: var(--color-green-button);
        font-size: 30px;
      }
    }
  }
  