// .header__logo{

//     display: block;
//     margin: 0 auto;
//     width: auto;
//     max-width: 100%;
//     height: auto;


// }



.header {
  background-color: #2d9583;
  color: aquamarine;
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1rem 0;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;

//   &__logo {
//     display: block;
//     margin: 0px auto;
//     width: 300px;
//     max-width: 100%;
//     height: auto;
    &__list {
      color: var(--color-offwhite-text);
      margin: 2rem 0;
      text-decoration: none;
      font-size: 1rem;

      & > li {
        display: inline;
        margin: 0 1rem;

        & > a {
          color: var(--color-offwhite-text);

          &:active {
            color: var(--color-offwhite-text);
          }
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    .Header__list {
      & > li {
        display: block;
      }
    }
  }
// }
