@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.header {
    justify-content: space-around;
    align-items: center;
    background-color: #486b6b;
    height: 160px;
    padding: 10px 30px;;
}

.headerlogo {
  justify-content: flex-start;
}

.listHeaderItem {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
    font-weight:bold;
    
  

}

