@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.card {
  font-family: "Share Tech Mono", monospace;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 700px;
}

.info {
  font-family: "Share Tech Mono", monospace;
  padding: 30px;
  position: relative;
  width: 100%;
}

.booking-photo {
  font-family: "Share Tech Mono", monospace;
  width: 220px;
  height: auto;
  box-sizing: border-box;
  background-origin: padding-box;
}

.specs {
  font-family: "Share Tech Mono", monospace;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  background: white;
  padding: 13px 10px;
  margin: 0px 25px 15px 0px;
  width: auto;
  max-width: 300px;
  border-radius: 14px;
  box-shadow: rgb(195 205 224 / 40%) 0px 2px 14px 0px;
  text-transform: capitalize;
}

.price {
  font-family: "Share Tech Mono", monospace;
  color: #2b3647;
  font-weight: 700;
  font-size: 23px;
  margin-top: 4px;
}

.entrega-recogida {
  font-family: "Share Tech Mono", monospace;
  background-clip: padding-box !important;
  border: 6px solid white !important;
  border-radius: 20px !important;
  inset: 0px !important;
  background-color: white !important;
  box-shadow: rgb(0 0 0 / 20%) 0px 6px 20px !important;
  color: #2b3647;
  font-weight: 700;
  font-size: 18px;
  margin-top: -8px;
}

.button {
  margin: auto;
  width: 100%;
  height: 31px;
  display: flex;
  -webkit-box-align: ce;
  align-items: center;
  justify-content: center;
  font-family: "Share Tech Mono", monospace;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  text-align: center;
  border-radius: 21px;
  background: rgb(37, 150, 190);
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: 1px solid rgb(37, 150, 190);
  width: 50% !important;
  min-width: 30px !important;
  background-size: 100%;
}

.buttoncart {

    margin: auto;
    align-items: center;
    background: lightblue;
    padding: 13px 10px;
    margin: 0px 25px 15px 0px;
    width: auto;
    max-width: 300px;
    border-radius: 14px;
    box-shadow: rgb(195 205 224 / 40%) 0px 2px 14px 0px;
    font-family: "Share Tech Mono", monospace;
    text-transform: capitalize;
    min-width: 84px;
    display: inline-block;
    margin-left: 9px;
    flex: 0 0 auto;
    border-bottom-style: initial;
    border-bottom-color: currentcolor;
    font-size: large;
    color: #2b3647;
}


// .info {
//     font-family: "Share Tech Mono", monospace;
//     padding: 14px;
//     position: relative;
//     width: 100%;
//     height: auto;
//     resize: auto;
//     margin: 45px;
//     align-content: center;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: nowrap;
//     justify-content: center;
//     align-items: baseline;
// }