.car__box {
    border: 10px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 270px;
    height: 280px;
    background-color: var(--color-offwhite-search);
    padding: 10px;
    row-gap: 5px;
    border-radius: 5px;
  }