@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");


.titlehome {
  text-transform: capitalize;
  font-family: "Share Tech Mono", monospace;
  font-size: 30px;
  text-align: left;
  margin: 15px;
  flex: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.titledescription {
  text-transform: capitalize;
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  margin: 12px;
}

